/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Luxurious Roman', cursive;
	font-weight: 400;
	font-size: 16px;
	/*this sets the font size*/
	line-height: 1.3;
	/*this sets the line-height*/
	background: -webkit-gradient(linear,  left top, left bottom,  from(rgba(239, 248, 254, 0.959)),color-stop(47%, rgba(202,234,254,1)),to(rgba(162,217,254,1)));
	background: -o-linear-gradient(top,  rgba(239, 248, 254, 0.959) 0%,rgba(202,234,254,1) 47%,rgba(162,217,254,1) 100%);
	background: linear-gradient(to bottom,  rgba(239, 248, 254, 0.959) 0%,rgba(202,234,254,1) 47%,rgba(162,217,254,1) 100%);

}

h1 {
	font-size: 30px;
	font-weight: 400;
}
  
h2 {
	font-size: 24px;
	font-weight: 400;
}
  
h3 {
	font-size: 18px;
	font-weight: 400;
}

p {
	font-size: 16px;
	font-weight:400;
}



.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	padding: 20px;
	border-bottom: 3px solid rgba(19, 70, 170, 0.2);
  }

  .page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
  }
  
  .page-header .page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
  }
  
  .navigation-list {
	list-style-type: none;
  }
  
  .navigation-list li {
	display: inline-block;
	margin-left: 15px;
  }

.profile {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

.profile_portrait {
	float:left;
	max-width: 250px;
	margin-right: 40px;
	height: auto;
	border-radius: 50%;
}

.navigation-list__item--active {
	text-decoration: none;
  }

a {
	color:#862001;
}

.showcase_item {
	display:inline-block;
	width: 33%;
}

.about-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;

}

.about-main_item {
	margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#about-picture {
	margin: auto;
	max-width: 40%;
}

svg * {
	transform-box: fill-box;
}

@-webkit-keyframes color-change {
	0% {
	  fill: #edc655
	}
	50% {
	  fill: #fcffad;
	}
	100% {
	  fill: #f76414;
	}
}

@keyframes color-change {
	0% {
	  fill: #edc655
	}
	50% {
	  fill: #fcffad;
	}
	100% {
	  fill: #f76414;
	}
}

.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	        animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
	from {
	  -webkit-transform: translate(0, 50px);
	          transform: translate(0, 50px);
	}
	to {
	  -webkit-transform: translate(200px, 50px);
	          transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
	  -webkit-transform: translate(0, 50px);
	          transform: translate(0, 50px);
	}
	to {
	  -webkit-transform: translate(200px, 50px);
	          transform: translate(200px, 50px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	        animation: 30s cloud-move infinite alternate linear;
}


@-webkit-keyframes cloud-move-reverse {
	from {
	  -webkit-transform: translate(446px, 48px);
	          transform: translate(446px, 48px);
	}
	to {
	  -webkit-transform: translate(100px, 48px);
	          transform: translate(100px, 48px);
	}
}


@keyframes cloud-move-reverse {
	from {
	  -webkit-transform: translate(446px, 48px);
	          transform: translate(446px, 48px);
	}
	to {
	  -webkit-transform: translate(100px, 48px);
	          transform: translate(100px, 48px);
	}
}

.cloud-back {
	-webkit-animation: 34s cloud-move-reverse infinite alternate linear;
	        animation: 34s cloud-move-reverse infinite alternate linear;
}

@supports (display: grid) {
	.showcase {
		display:-ms-grid;
		display:grid;
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0;
	}


	.showcase_item {
		background-color: rgba(178, 191, 234, 0.945);
		width:auto;
		min-height: auto;
		margin: 0;
	}

	.showcase_item:last-child {
		-ms-grid-column: 3;
		grid-column: 3/3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		grid-row: 1/3;
	}
}

a:visited {
	/*visited link */
	color: #4a008b;
}

a:hover {
	/*No underlining when hovering over a link*/
	text-decoration:none;
}

a:active {
	/* selected link */
	color: #0294c4;
}

a:focus {
	/*boxes in and highlights a link when selected by the keyboard*/
	color:rgb(0, 39, 231);
}

button {
	border: none;
	display:inline-block;
	font-family: inherit;
	background-color: rgba(19, 70, 170, 0.2);
	color: #862001;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 36, 109, 0.2);
	-webkit-transition: opacity 0.7s;
	-o-transition: opacity 0.7s;
	transition: opacity 0.7s;
}

.button {
	border: none;
	display:inline-block;
	font-family: inherit;
	background-color: rgba(19, 70, 170, 0.2);
	color: #862001;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 36, 109, 0.2);
	-webkit-transition: opacity 0.7s;
	-o-transition: opacity 0.7s;
	transition: opacity 0.7s;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.page-footer {
	clear:both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.footer-social_links {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 200px;
	        flex: 1 1 200px;
}

@media all and (max-width: 500px) {
	.showcase {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.showcase {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.showcase {
		grid-gap: 10px;
	}

	.showcase_item:last-child {
		grid-column: auto/auto;
		grid-row: auto/auto;
	}

	h1 {
		font-size:22px;
	}
}